
/* Start of default settings */
	header, section, article, figure, figcaption, nav, footer, video, address {
	    display: block;
	}
	@charset "UTF-8";
	@media screen {
	  html {
	    background: #f8f8f8; 
	    } 
	}
	* {
		margin: 0;
		padding: 0;
		border: 0;
	}
	*, *::before, *::after {
		box-sizing: border-box;
	}
	html {
	  	box-sizing: border-box;
	  	height: 100%;
	  	margin-left: calc(100vw - 100%);
	    margin-right: 0;
	    overflow: auto;
	 }
	 html:focus: {
	 	outline: none;
	 }
	/* DejaVu font settings */
	@font-face {
		font-family: VuSerif;
		src: url("../fonts/DejaVuSerif.ttf") format("truetype");
		font-style: normal;
	}
	@font-face {
		font-family: VuSerif;
		src: url("../fonts/DejaVuSerif-Italic.ttf") format("truetype");
		font-style: italic;
	}
	@font-face {
		font-family: VuSans;
		src: url("../fonts/DejaVuSans.ttf") format("truetype");
		font-style: normal;
	}
	@font-face {
		font-family: VuMono;
		src: url("../fonts/DejaVuSansMono.ttf") format("truetype");
		font-style: normal;
	}
	@font-face {
		font-family: VuItalic;
		src: url("../fonts/DejaVuSerif-Italic.ttf") format("truetype");
		font-style: normal;
	}
	@charset "UTF-8";

	body {
		font-family: VuSerif, serif; 
		font-size: 1em;
		font-weight: normal;
	}
	#wrapper {
	    width: 760px;
	    min-width: 400px;
	    margin: 0 auto;
	    position: relative;
  	}
	article {
		padding-left: 0px;
		padding-right: 0px;
	}
/*--------------------*/

/* Default element settings*/
/* Article settings*/
	article li {
		padding-left: 0.6em;
		padding-bottom: 0.35em;
		line-height: 1.3em;
	}
	article ul, ol {
		padding-left: 2em;
	}
	article p {
		padding-bottom: 0.7em;
		line-height: 1.3em;
	}
/* Media settings*/
	figcaption {
		font-size: 0.9em;
		font-family: VuItalic, italic;
	}
	figure {
		text-align: center;
		padding: 0.6em 0em;

	}
	figure img {
		padding: 0.15em;
		border: 0.025em solid #CCCCCC;
	}
/* Headers settings*/
	section #pageHeader {
		display: inline-block;
		padding-top: 0.625em;
		padding-bottom: 1.2em;
	}
	img.icon {
		display: inline-block;
		top: 0;
		vertical-align: middle;	
	}
	span.tl21org {
		font-family: VuSans, sans-serif
	}
	h1 {
		font-family: VuSerif, serif;
		font-size:1.375em;
		font-weight: normal;
		text-align: left;
		padding-left: 0.625em;
	}
	h2 {
		display: inline-block;
		/*text-align: center;*/
		font-family: VuSans, sans-serif;
		font-size: 1.1875em;
		font-weight: normal;
		padding-bottom: 1em;

	}
	header>h2 {
		padding-top: 0.8em;
		width: 760px;
		min-width: 400px;	
	}
	h3 {
		font-family: VuSans, sans-serif;
		font-size: 1.125em;
		font-weight: normal;
		padding-top: 0.6em;
		padding-bottom: 0.3em;
	}
	h4 {
		font-family: VuSans, sans-serif;
		font-size: 1.0025em;
		font-weight: normal;
		padding-top: 0.6em;
		padding-bottom: 0.3em;	
	}
/* Code settins*/
	code, pre {
	background-color: #d3d3d3;
	}
	code {
		font-family: VuMono, monospace;
		font-size: 0.9em;
	}
	pre {
		display: block;
	 	overflow-x: auto; 
	 	padding: 0.3em;
	}
/* Footer Settings */
	#pageFooter {
		clear: both;
		border-top: 0.025em solid #CCCCCC;
		border-bottom: 0.025em solid #CCCCCC;
		margin-top: 1em;
		padding-top: 0.5em;
		margin-bottom: 1em;
		padding-bottom: 0.5em;
		text-align: center;
	}
	#pageFooter p {
		font-size: 0.85em;
	}
/*--------------------*/

/* Menu settings */
	.mainMenu {
	    display: none;
	}
	.mainMenu.hamburger {
	    display: block;
	    position: absolute;
	    width: 760px;
	    height: 100%;
	    right: 0; 
	    z-index: 70;
	}
	img.right {
	 	display: block;
	 	position: absolute;
		cursor: pointer;
		top: 0.625em;
		right: 0;
		height: 22px;
		background-color: #f8f8f8;
		z-index: 70;
	}
	nav.mainDoc { 
		display: block;
		position: absolute;
		right: 0;
		top: calc(1.25em + 0.625em);
	  	padding: 0.5em;
	  	width: calc(760px * 3 / 4);
	    background-color: #f8f8f8;
	  	border: 0.025em solid #CCCCCC;
	  	z-index: 90;
	  	font-family: VuSans, sans-serif;
	}
	nav ul {
	 	list-style-type: none;
	 	font-size: 100%;
	}
	nav ul>ul {
	 	padding-left: 0.5em;
	 	font-size: 98%;
	}
	nav ul>ul>ul {
		padding-left: 1em;
		font-size: 97%
	}
	nav a {
		text-decoration: none;
	}
/*--------------------*/

/* Link Settins */
	a:link {
		color: #0000EE;
	}
	a:visited {
		color: #0000EE; /*#551A8B; */
	}
	a:hover {
		color: #00CCFF;
	}
	a:active {
		color: #FF0000;
	}
/*--------------------*/

hr {
  display: block;
  width: 760px;
  /*min-width: 400px;*/
  border-bottom: 0.025em solid #CCCCCC;
}
li hr {
	display: block;
	width:300px;
	border-bottom: 0.025em solid #CCCCCC;
	margin-bottom: 0.3125em;
}
span.break {
	display: block;
}


/* Index Page */
	nav.index {
		display: block;
		font-size: 105%;
	  	font-family: VuSans, sans-serif;
		padding-left: 2.5em; 
	}
ol a {
	text-decoration: none;
}
/*--------------------*/

/* To Top Button */
#toTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 0;
	z-index: 99;
	width: 15px;
	height: 20px;
	margin-right: calc(((100vw - 760px) / 2) - (100vw - 100%));
  	border: none;
  	outline: none;
  	background-image: url(../images/to_top_icon.png);
  	background-repeat: no-repeat;
  	background-position: center center;
  	/*background-color:  #d3d3d3;*/
  	cursor: pointer;
  	padding: 15px;
  	border-radius: 4px;
}
#toTop:hover {
	background-image: url(../images/to_top_red_icon.png);
  	background-repeat: no-repeat;
  	background-position: center center;
}
/*--------------------*/

/* Table Settings */
/*
table,td,th {
	border: 1px solid black;
	font-family: VuSans, sans-serif;
	font-size: 0.8em;
}
*/
caption {
	font-family: VuSans, sans-serif;
	font-size: 0.95em;
}

/* Table Settings from Student Portfolio */

table {
    caption-side: top;
    border-collapse: collapse;
    font-family: VuSans, sans-serif;
    font-size: 95%;
    font-weight: normal;
    border: 1px solid #000000;
    /*margin: 10px 25px 10px 25px;*/
    table-layout: auto;
    width: 100%;
}

table caption {
    font-size: 105%;
    padding-bottom: 10px;
}

th {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 4px;
    margin: 0px;
    border: 1px solid #000000;
    background-color: #F6DA74;
}
.alterColor tr:nth-child(even) {
	background: #CCC;
}
.alterColor tr:nth-child(odd) {
	background: #FFF;
}

td {
    padding: 2px 5px 2px 10px;
    margin: 0px; 
    border: 1px solid #000000;
}
td > p {
    padding-bottom: 3px;
}

/*
col.col15 {
    width: 15%;
}
col.col60 {
    width: 60%;
}
col.col40 {
    width: 40%;
}
col.col25 {
    width: 25%;
}
col.col10 {
    width: 10%;
}
col.col33 {
    width: 33%;
}
*/

.padding {
    padding-top: 15px;
    padding-bottom: 15px;
}
.smallFont {
    font-size:80%;
}
.textCenter {
    text-align:center;
}
.colorGreen  {
    background-color: #00FF33;
}
.colorOrange {
    background-color: #FF9900;
}
.colorBlue {
    background-color: #00CCFF;
}
.colorYellow {
    background-color: #FFFF00;
}
