<!doctype html>
<html lang="en-au" dir="ltr">

<head>
  <title>Seed DB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="description" content="Seed Data Base">
  <meta name="author" content="Dirk Koudstaal">
  <meta name="keywords" content="Relational DB, Seed DB, Farm Records">
  <link rel="stylesheet" href="./static/styles/styles.css">
</head>

<body>
<div class="pages">

<!-- Menu settings -->
<section id="js-open-menu">
  <img class="page-menu__hamburger" src="./static/images/hamburger_icon.svg" >
  <div class="js-menu__hamburger--black">
    <img class="page-menu__hamburger" src="./static/images/hamburger_active.svg" >
    <nav class="page-menu__hamburger--show">
      <ul>
	<li><a href="/">Home Page</a></li>
	<li><a href="/seedlist">Seed Collection</a></li>
	<li><a href="#">Contents</a></li>
	<li><a href="#">Contents</a></li>
	<li><a href="#">Contents</a></li>
      </ul>
    </nav>
  </div>
</section>
<!-- End menu settings -->
<section>
<header>
    <img class="page-header-sub1__logo" src="./static/images/bettong-june.svg" height="42">
    <h1 class="page-header-sub1">
      Seed Data Base
    </h1>
  </header>
</section>

${self.body()}

<div  id="toTop" onclick="topFunction()" title="Go to Top"></div>

<section>
  <footer id="page-footer">
    <p>Designed by Betong Applications</p>
  </footer>
</section>
<script src="/static/js/menu.js"></script>
<script src="/static/js/to_top.js"></script>
<script src="/static/js/search_table.js"></script>
	
</div>
</body>
</html>
