<%inherit file="base.html"/>
<form method="post" action="/seedsubmit" id="seed-edit-form">
  <table class="table-seeds table-seeds__row-color"
	 id="js-table-seed-edit">
    <caption>Edit Seed List</caption>
    <thead>
      <tr><th>Packet<br>Code</th><th>Seed<br>Type</th><th>Seed<br>Variety</th><th>Seed<br>Count</th>
    </thead>
    <tbody id="seed-edit-table-body">
      % for row in data:
      <tr>
	<td>?</td>
        <input type="hidden" name="packet_id"
	       id="packet-id" value="${row[0]}"/>
        <td >
           <select id="seed-type-select" name="seed_type_id">
            % for each in seedtypes:
            <option value="${each[0]}">${each[1]}</option>
            % endfor
          </select>
        </td>
        <td>
          <select  name="variety_id">
            % for each in varieties:
            % if row[1] == each[0]:
            <option value="${each[0]}" selected >${each[1]}</option>
            % else:
            <option value="${each[0]}">${each[1]}</option>
            % endif
            % endfor
          </select>
        </td>
        <td>
          <input type="number" name="seed_count"
		 id="packet-select" value="${row[5]}"/>
        </td>
      </tr>
      % endfor
      
      <tr style="display: none;" id="js-template-row">
        <input type="hidden" name="packet_id" value=""/>
        <td>
          <select id="seed-type-select" name="seed_type_id">
            % for each in seedtypes:
            <option value="${each[0]}">${each[1]}</option>
            % endfor
          </select>
        </td>
        <td>
          <select  name="variety_id">
            % for each in varieties:
            <option value="${each[0]}">${each[1]}</option>
              % endfor
            </select>
          </td>
        <td>
          <input type="number" name="seed_count"
		 id="packet-select" value="0"/>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table-seeds table-seeds__row-color">
    <tr><th>Packet<br>Location</th><th>Date<br>Acquired</th><th>Date<br>Use-By</th>
      <th>Seed<br>Company</th>
    </tr>
  </table>

  <section class="form--input">
    <input class="form--text-size" type="button"
	   onClick="addPacket()" value='Add'>
    <input class="form--text-size" type="submit" value="Save"
	   id="submit-btn" onClick="toggle()">
    <input class="form--text-size" type="button"
	   onClick="location.href='seedlist'" value='Cancel'>
  </section>
</form>
<script src="/static/js/add-packet.js"></script>

