<%inherit file="base.html"/>

	<section>	
		<header>
			<h2>
				Seed Collection 
			</h2>
		</header>
		<h3>
			Table of Records
		</h3>
		<table class="alterColor">
			<caption>List of Seeds in Storage</caption>
			<thead>
				<tr><th>Seed Type ID</th><th>Seed Type Name</th><th>Seed ID</th><th>Seed Variety Name</th><th>Number of Seed Packets</th><th>Total Seed Count</th><th>Total Seed Gram</th></tr>
			</thead>
      % for row in data:
          <tr>
          % for el in row:
            % if isinstance(el, int):
                <td class="textCenter">${el}</td>
            % else:
                <td >${el}</td>
            % endif
          % endfor
          </tr>
      % endfor

		</table>	
	</section>

