<%inherit file="base.html"/>
	<section>	
		<header>
			<h2>
				Seed Collection 
			</h2>
		</header>
		<input type="text" id="searchInput" onkeyup="searchFunction(3)" placeholder="Search Seed Variety.." title="Type in a name">
		<h3>
			Table of Records
		</h3>
		<table class="alterColor" id="searchTable">
			<caption>List of Seeds in Storage</caption>
			<thead>
				<tr><th>Seed Type ID</th><th>Seed Type Name</th><th>Seed ID</th><th id="test">Seed Variety Name</th><th>Number of Seed Packets</th><th>Total Seed Count</th><th>Total Seed Gram</th><th>Edit</th></tr>
			</thead>
      % for row in data:
          <tr>
         % for el in row:
            % if isinstance(el, int):
                <td class="textCenter">${el}</td>
            % else:
                <td >${el}</td>
            % endif
          % endfor
          <td><a href="/seededit?variety_id=${row[2]}" class="edit-btn"><img src="/static/images/pencil.png" target="_blank" rel="noreferrer noopener"></a></td>
          </tr>
      % endfor
		</table>
	</section>
	<script>    
 </script>
