/* BEM - Block Element Modifier is used in this style sheet.

   - used in names of blocks, elements and modifiers.
   __ followed by an element
   -- followed by a modifier

   Cascading is kept to a minimum and naming of classes are supporting
   the symantic structure of the HTML5.
   Names indicating a format are avoided and as not to confuse the semantic
   HTML5 tags.
   
/* Start of default settings */
header, section, article, figure, figcaption, nav, footer, video, address, dialog {
    display: block;
}
@charset "UTF-8";
@media screen {
    html {
	background: #f8f8f8; 
    } 
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    height: 100%;
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    overflow: auto;
}
html:focus {
    outline: none;
}
body {
    font-family: VuSerif, serif; 
    font-size: 1em;
    font-weight: normal;
}


/* DejaVu font settings */
@font-face {
    font-family: VuSerif;
    src: url("../fonts/DejaVuSerif.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: VuSerif;
    src: url("../fonts/DejaVuSerif-Italic.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: VuSans;
    src: url("../fonts/DejaVuSans.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: VuMono;
    src: url("../fonts/DejaVuSansMono.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: VuItalic;
    src: url("../fonts/DejaVuSerif-Italic.ttf") format("truetype");
    font-style: normal;
}

.pages {
    width: 760px;
    min-width: 400px;
    margin: 0 auto;
    position: relative;
}
.page-header-sub1 {
    display: inline-block;
    padding-top: 0.625em;
    padding-bottom: 1.2em;
    font-family: VuSerif, serif;
    font-size:1.375em;
    font-weight: normal;
    text-align: left;
    padding-left: 0.625em;
}
.page-header-sub1__logo {
    display: inline-block;
    top: 0.625em;
    vertical-align: middle;	
}
.chapter__sub2 {
    display: inline-block;
    font-family: VuSans, sans-serif;
    font-size: 1.245em;
    font-weight: normal;
    padding-bottom: 1em;
    padding-top: 0.8em;
   /* width: 760px;*/
    min-width: 400px;
}
.chapter__sub3 {
    font-family: VuSans, sans-serif;
    font-size: 1.125em;
    font-weight: normal;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
}
.page-content__h4 { /*not used*/
    font-family: VuSans, sans-serif;
    font-size: 1.0025em;
    font-weight: normal;
    padding-top: 0.6em;
    padding-bottom: 0.3em;	
}
.page-menu__hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0.625em;
    right: 0;
    height: 22px;
    z-index: 70;
}
.page-menu__hamburger--show { 
    display: block;
    position: absolute;
    right: 0;
    top: calc(1.25em + 0.625em);
    padding: 0.5em;
    width: calc(760px * 3 / 4);
    background-color: #f8f8f8;
    border: 0.025em solid #CCCCCC;
    z-index: 90;
    font-family: VuSans, sans-serif;
}
.page-content__img--left {
    dispaly: block;
    margin-left:1.25em ;
    padding: 0.15em;
    border: 0.025em solid #CCCCCC;
}
.page-content__menu {
    display: block;
    font-size: 100%;
    font-family: VuSans, sans-serif;
    padding-left: 1.5em; 
}
.page-content__table {
    caption-side: top;
    border-collapse: collapse;
    font-family: VuSans, sans-serif;
    font-size: 95%;
    font-weight: normal;
    border: 1px solid #000000;
    margin-bottom: 20px;
    table-layout: auto;
    width: 100%;
}    
.page-content__table--color tr:nth-child(even) {
    background: #E8E8E8;
}
.page-content__table--color tr:nth-child(odd) {
    background: #FFF;
}
.page-content__table-col--text-center {
    text-align:center;
}
#page-footer {
    clear: both;
    border-top: 0.025em solid #CCCCCC;
    border-bottom: 0.025em solid #CCCCCC;
    margin-top: 1em;
    padding-top: 0.5em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    text-align: center;
}
#page-footer p {
    font-size: 0.85em;
}
.js-menu__hamburger--black {
    display: none;
}
.js-menu__hamburger--red {
    display: block;
    position: absolute;
    width: 760px;
    height: 100%;
    right: 0; 
    z-index: 70;
}
/*--------------------*/

/* Menu settings */



nav ul {
    list-style-type: none;
    font-size: 100%;
}
nav ul>ul {
    padding-left: 0.5em;
    font-size: 98%;
}
nav ul>ul>ul {
    padding-left: 1em;
    font-size: 97%
}
nav a {
    text-decoration: none;
}
/*--------------------*/

/* Link Settins */
a:link {
    color: #0000EE;
}
a:visited {
    color: #0000EE; /*#551A8B; */
}
a:hover {
    color: #00CCFF;
}
a:active {
    color: #FF0000;
}
/*--------------------*/

hr {
    display: block;
    width: 760px;
    /*min-width: 400px;*/
    border-bottom: 0.025em solid #CCCCCC;
}
li hr {
    display: block;
    width:300px;
    border-bottom: 0.025em solid #CCCCCC;
    margin-bottom: 0.3125em;
}
span.break {
    display: block;
}


ol a {
    text-decoration: none;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 5px;
    right: -30px;
    z-index: 99;
    width: 30px;
    height: 55px;
    margin-right: calc(((100vw - 760px) / 2) - (100vw - 100%));
    border: none;
    outline: none;
    background-image: url(../images/to_top_word_icon_fat.png);
    background-repeat: no-repeat;
    background-position: center center;
    /*background-color:  #d3d3d3;*/
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#toTop:hover {
    background-image: url(../images/to_top_word_red_icon_fat.png);
    background-repeat: no-repeat;
    background-position: center center;
}

caption {
    font-family: VuSans, sans-serif;
    font-size: 0.95em;
}


table caption {
    font-size: 105%;
    padding-bottom: 10px;
}

th {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 4px;
    margin: 0px;
    border: 1px solid #000000;
    background-color: #F6DA74;
    text-align: center;
}


td {
    padding: 2px 5px 2px 10px;
    margin: 0px; 
    border: 1px solid #000000;
}
td > p {
    padding-bottom: 3px;
}

.padding {
    padding-top: 15px;
    padding-bottom: 15px;
}
.smallFont {
    font-size:80%;
}



#js-content-table__search {
    background-image: url('../images/search_icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

dialog {
    position: relative;
    top: 0%;
    left: 0%;
    padding: 10px; 
    border: 1px solid #ddd;
}dialog>form {
    padding: 5px;
    font-size: 16px;
}
input,select,option {
    font-size: 110%;
    border: 1px solid #ddd;
    padding: 3px;
    margin-top: 5px;
}

article li {
    padding-left: 0.6em;
    padding-bottom: 0.35em;
    line-height: 1.3em;
}
article ul, ol {
    padding-left: 2em;
}
article p {
    padding-bottom: 0.7em;
    line-height: 1.3em;
}
/* Code settins*/
code, pre {
    background-color: #d3d3d3;
}
code {
    font-family: VuMono, monospace;
    font-size: 0.9em;
}
pre {
    display: block;
    overflow-x: auto; 
    padding: 0.3em;
}
article {
    padding-left: 0px;
    padding-right: 0px;
}
